[Unit]
Description=Restart ii-pi after resume
After=suspend.target

[Service]
ExecStart=/usr/bin/systemctl --user restart ii-pi@%i.service

[Install]
WantedBy=suspend.target
