[Unit]
Description=Restart ii after resume
After=suspend.target

[Service]
ExecStart=/usr/bin/systemctl --user restart ii@%i.service

[Install]
WantedBy=suspend.target
