*
!README.md
!.gitignore
!.zshrc
!.config
!.local/share/mpv
!.ssh
!app/zsh-plugins
!exec
!.Xmodmap
!.eslintrc.json
!.gitconfig
!.gitignore_global
!.gitmodules
!.xinitrc
!.zlogin
!.zlogout
!.zshrc
!.hushlogin
