*
!README.md
!.gitignore
!.zshrc
!.config
!.config/nvim/init.vim
!.config/bspwm
!.config/bspwm/bspwmrc
!.config/sxhkd
!.config/sxhkd/sxhkdrc
!.local/share/mpv
!.ssh
!app/zsh-plugins
!exec
!.Xmodmap
!.eslintrc.json
!.gitconfig
!.gitignore_global
!.gitmodules
!.xinitrc
!.zlogin
!.zlogout
!.zshrc
!.hushlogin
!.XCompose
