[user]
	name = Yousef Amar
	email = yousefamar@gmail.com
[core]
	excludesfile = ~/.gitignore_global
	editor = nvim
[alias]
	s = status
	aa = add -A
	a = add
	c = commit
	cm = commit -m
	p = push
	poa = push -u origin --all
	rao = remote add origin
	rau = remote add upstream
	ch = checkout
	chb = checkout -b
	d = diff
	b = branch
	m = merge
	ls = ls-tree --full-tree -r HEAD
	l = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --all
	up = !git fetch && git rebase --autostash FETCH_HEAD
[merge]
	tool = nvimdiff
	#ff = false
[mergetool]
	prompt = true
[mergetool "nvimdiff"]
	cmd = nvim -d $BASE $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
[mergetool]
	prompt = false
	keepBackup = false
[credential]
	helper = cache
[diff]
	tool = nvimdiff
